article{
    padding:6px 0px 8px 0px;
    margin-bottom: 3em;
}

article header {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
    line-height: 1em;
    font-weight: bold;
    display: block;
    margin: 0;
}

article a {
    color: #fff;
}

article h3 {
    background-color: #22b3eb;
    clear: both;
    color: #fff;
    float: left;
    width: 100%;
    padding: 30px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

article .module {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 25px;
    border-bottom: 1px solid #b1b1b1;
    background: #f8f8fd;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
}
article .title{
    font-size: 1.6em;
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;
    border-left: 5px solid #22b3eb;
    margin-bottom: 0;
}

article .readmore{
    display: inline-block;
    line-height: 1em;
    padding: 6px 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #eee;
    color: #999;
    text-shadow: 0 1px #fff;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
article .readmore:hover{
    background: #258fb8;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px #1e7293;
}

article footer{
    font-size: .85em;
    line-height: 1.6em;
    border-top: 1px solid #ddd;
    padding-top: 1.6em;
    margin: 0;
}
article footer a{
    color: #999;
    margin-right: 15px;
}