

@media screen and (max-width: 767px) {
    body {
    }
}

@media screen and (max-width: 480px) {
   html {
      -webkit-text-size-adjust: none;
   }
   a {
      font-size: 90%;
      padding: 10px 8px;
   }
}
