
<link href="/doc/static/css/fonts.css" rel="stylesheet">
<link href="/doc/static/css/main.css" media="screen" rel="stylesheet">
<link href="/doc/static/css/monokai-sublime.css" rel="stylesheet">

<header class="site-header">
    <div class="inner">
        <h1 class="site-title"><a class="logo-text" href="https://avis20.github.io/doc/">avis notes</a></h1>
        <p class="site-description">Thoughts, stories and ideas.</p>
    </div><!-- .inner -->
</header>

<script id="entry-template" type="text/x-handlebars-template" defer="true">
<div class="site-content">
    <div class="inner">
        <main class="site-main">
            <article class="post">
                <header class="entry-header">
                    <div class="entry-header-wrap">
                        <h2 class="entry-title">{{ title }}</h2>
                    </div>
                    <div class="entry-meta">
                        <p>by {{ author }} on {{ date }}</p>
                    </div>
                </header>
                <div class="entry-content">
                    {{{ content }}}
                </div>
            </article>
        </main>
        <aside class="sidebar">
            <section class="widget widget-recent-posts">
                <h2 class="widget-title">Toc</h2>
                <div class="toc"></div>
            </section>
        </aside>
    </div>
</div>
